:root {
    --cube-width: 300px;
    --translateZ: 150px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background: #d8d8d8;
    text-align: center;
}

header {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

footer{
    background-color: rgb(20, 20, 97);
    display: flex;
    width: 100%;
    justify-content: center;
    color: #fff;
}

nav{
    background-color: rgb(20, 20, 97);
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.introducao_conteiner{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    margin: auto;
    padding: 15px;
    width: 40%;
    text-align: start;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.cube-container {
    perspective: 1000px;
    margin: auto;
}
  
.cube-container .cube {
    width: var(--cube-width);
    height: var(--cube-width);
    transform-style: preserve-3d;
}

.cube-container .cube-face {
    width: var(--cube-width);
    height: var(--cube-width);
    position: absolute;
    font-size: 30px;
    background: yellow;
    color: #000;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}


.cube-container .azul {
    background: black;
    transform: translateZ(var(--translateZ));
    width: 100%;
}

.cube-container .verde {
    background: black;
    transform: rotateY(180deg) translateZ(var(--translateZ));
}

.cube-container .laranja {
    background: black;
    color: #fff;
    transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.cube-container .vermelho {
    background: black;
    color: #fff;
    transform: rotateY(90deg) translateZ(var(--translateZ));
}

.cube-container .amarelo {
    background: black;
    transform: rotateX(90deg) translateZ(var(--translateZ));
}

.cube-container .branco {
    background: black;
    transform: rotateX(-90deg) translateZ(var(--translateZ));
}

.cor-lado{
    border-radius: 15px;
    width: 95px;
    height: 95px;
    margin: auto;
}

.lado-azul{
    background-color: blue;
}

.lado-verde{
    background-color: rgb(3, 255, 3);
}

.lado-laranja{
    background-color: orange;
}

.lado-vermelho{
    background-color: red;
}

.lado-amarelo{
    background-color: yellow;
}

.lado-branco{
    background-color: white;
}

.partes-cubo{
    width: 100%;
    height: 100%;
    margin: auto;
}
.linha{
    display: flex;
    margin-top: 4px;
}

.comandos{
    display: flex;
    gap: 2em;
    justify-content: center;
}

nav h1{
    margin-left: 1em;
    color: #fff;
    font-size: 2em;
}

.caminhos{
    display: flex;
    gap: 2em;
    margin: auto;
    margin-right: 2.5em;
}

.caminhos a{
    color: #fff;
    text-decoration: none;
}

.caminhos li{
    list-style-type: none;
}

.caminhos li a{
    position: relative;
}

.caminhos li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    color: #fff;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.caminhos li a:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}